<div class="boxes">
    <div class="box">
        <div>Викендице</div>
        <div>{{allCottages.length}}</div>
    </div>
    <div class="box">
        <div>Власници</div>
        <div>{{userInfo.numOfOwners}}</div>
    </div>
    <div class="box">
        <div>Туристи</div>
        <div>{{userInfo.numOfTourists}}</div>
    </div>
</div>
<hr>
Претражи по називу: <input type="text" [(ngModel)]="name" (input)="onChange()"><br>
Претражи по месту: <input type="text" [(ngModel)]="location" (input)="onChange()"><br><br>
<table>
    <tr>
        <th><a (click)="sortByName()">{{getNameLabel()}}</a></th>
        <th><a (click)="sortByLocation()">{{getLocationLabel()}}</a></th>
        <th *ngIf="type === 'туриста'"></th>
        <th *ngIf="type === 'власник'"></th>
        <th *ngIf="type === 'власник'"></th>
    </tr>
    @for(cottage of selectedCottages; track cottage.idC){
        <tr>
            <td>{{cottage.name}}</td>
            <td>{{cottage.location}}</td>
            <td *ngIf="type === 'туриста'"><a (click)="seeDetails(cottage)">Детаљи</a></td>
            <td *ngIf="type === 'власник'"><button (click)="editCottage(cottage)">Измени</button></td>
            <td *ngIf="type === 'власник'"><button (click)="deleteCottage(cottage)">Обриши</button></td>
        </tr>
    }
</table>
<app-cottage-form (refresh)="refreshPage()" *ngIf="type === 'власник'" operation="insert" [ownerUsername]="ownerUsername"></app-cottage-form>