Тренутне резервације: <br><br>
<table>
    <tr>
        <th>Датум резервације</th>
        <th>Датум почетка резервације</th>
        <th>Датум краја резервације</th>
        <th>Назив викендице</th>
        <th>Место викендице</th>
        <th>Статус</th>
        <th>Коментар</th>
        <th></th>
    </tr>
    @for(reservation of currentReservations; track reservation.idR){
        <tr>
            <td>{{reservation.reservationDate | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td>{{reservation.startDate | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td>{{reservation.endDate | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td>{{getCottageName(reservation.idC)}}</td>
            <td>{{getCottageLocation(reservation.idC)}}</td>
            <td>{{reservation.status}}</td>
            <td><textarea disabled="true" [(ngModel)]="reservation.comment"></textarea></td>
            <td><button *ngIf="checkCancel(reservation)" (click)="cancel(reservation)">Откажи резервацију</button></td>
        </tr>
    }
</table>
<hr>
Прошле резервације: <br><br>
<table>
    <tr>
        <th>Датум почетка резервације</th>
        <th>Назив викендице</th>
    </tr>
    @for(reservation of archivedReservations; track reservation.idR){
        <tr>            
            <td>{{reservation.startDate | date: 'dd.MM.yyyy'}}</td>            
            <td>{{getCottageName(reservation.idC)}}</td>            
        </tr>
    }
</table>