<h1>Промена лозинке:</h1>
<table>
    <tr>
        <td>Стара лозинка:</td>
        <td><input type="password" [(ngModel)]="oldPassword"></td>
    </tr>
    <tr>
        <td>Нова лозинка:</td>
        <td><input type="password" [(ngModel)]="newPassword"></td>
    </tr>
    <tr>
        <td>Поновите нову лозинку:</td>
        <td><input type="password" [(ngModel)]="repeatedNewPassword"></td>
    </tr>
</table>
<br>
<button (click)="changePassword()">Промени лозинку</button>
<br>
<div style="text-align: center;">
    <span style="color: red;">{{message}}</span>
</div>