<hr>
@if(operation === "insert"){
    Унесите нову викендицу: <br>
}
@if(operation === "update"){
    Измените викендицу: <br>
}
Назив: <input type="text" [(ngModel)]="cottage.name"><br>
Место: <input type="text" [(ngModel)]="cottage.location"><br>
Услуге: <input type="text" [(ngModel)]="cottage.services"><br>
Телефон: <input type="text" [(ngModel)]="cottage.phoneNumber"><br>
Капацитет: <input type="number" [(ngModel)]="cottage.capacity" min="0"><br>
Доступност (морају да се унесу бар 2 ценовника ноћења): <br>
<table> <!--TODO додати form елемент!!! -->
    <tr>
        <th></th>
        <th>Период</th>
        <th>Датум почетка</th>
        <th>Датум завршетка</th>
        <th colspan="2">Цена ноћења (одрасли/деца)</th>
    </tr>
    @for(roomrate of roomrates; let i = $index; track i){
        <tr *ngIf="i < Math.max(numberOfRoomRates + 1, minNumberOfRoomRates)">
            <td>{{i+1}}.</td>
            <td><input type="text" class="roomrate" [(ngModel)]="roomrate.periodName" (input)="onChange()"></td>
            <td><input type="date" [(ngModel)]="roomrate.periodStart"></td>
            <td><input type="date" [(ngModel)]="roomrate.periodEnd"></td>
            <td><input type="number" step="any" [(ngModel)]="roomrate.priceAdult" min="0"></td>
            <td><input type="number" step="any" [(ngModel)]="roomrate.priceChild" min="0"></td>
        </tr>
    }
</table>
@if(operation === 'update'){
    <br>
    Слике: <br>
    @for(imgUrl of imgUrls; track imgUrl){
        <img [src]="imgUrl">
    }
}
<br>
Унесите слике викендице: <input type="file" multiple (change)="changePicture($event)" accept="image/*"><br>
<button *ngIf="operation === 'insert'" (click)="insertCottage()">Унеси податке</button>
<button *ngIf="operation === 'update'" (click)="updateCottage()">Измени податке</button>
<br>
{{message}}